<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)"/>
        <FocusOnNavigate RouteData="@routeData" Selector="h1"/>
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">You have reached The Unknown. Return and avoid The Beast.</p>
            <img src="Images/Pumpkin.gif" alt="pumpkin-gif" />
        </LayoutView>
    </NotFound>
</Router>